@charset 'utf-8';

// --------------------
// #SETTINGS */
// --------------------

// imports
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

// fonts
$sansserif-stack: ('Verdana', 'Open Sans', 'Helvetica', 'Arial', sans-serif);
$serif-stack: ('Times New Roman', 'Georgia', serif);
$font-epilogue: ('Epilogue', $sansserif-stack);

// color names
$color-AlmostWhite: hsl(0, 0%, 98%);
$color-MediumGray: hsl(0, 0%, 41%);
$color-AlmostBlack: hsl(0, 0%, 8%);

// colors

// variables

// --------------------
// #TOOLS */
// --------------------

// *functions

/// Função 'lighter()'
/// @param {color} $color - a cor que será deixada mais clara.
/// @param {number} $percent [80%] - a porcentagem de 100% até 0%, quanto menor mais claro.
/// @return {color} retorna uma cor mais clara.
@function lighter($color, $percent: 80) {
    @return mix($color, #fff, $percent);
}

/// Função 'darker()'
/// @param {color} $color - a cor que será deixada mais escura.
/// @param {number} $percent [80%] - a porcentagem de 100% até 0%, quanto menor mais escuro.
/// @return {color} retorna uma cor mais escura.
@function darker($color, $percent: 80) {
    @return mix($color, #000, $percent);
}

// *mixins

// --------------------
/* #BASE */
// --------------------

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

a {
    text-decoration: none;
    color: $color-AlmostBlack;
}

img {
    max-width: 100%;
}

// --------------------
/* #TYPOGRAPHY */
// --------------------

html {
    font: 500 18px / 1.5 $sansserif-stack;
    color: $color-AlmostBlack;
}

.card__title {
    font-weight: 700;
}

// --------------------
/* #LAYOUT */
// --------------------

// *grid
body {
    display: flex;
    flex-direction: column;
}

#header {
    display: flex;
    justify-content: space-between;
}

#main {
    display: flex;
    flex-direction: row-reverse;
    // grid-template: 1fr / 1fr 1fr;
    // margin: 0 60px;

    // > .card {
    //     background-color: orange;
    // }
}

// --------------------
/* #COMPONENTS */
// --------------------

#header {
    padding: 20px 50px;
    margin-bottom: 40px;
}

.header__logo {
    margin-right: 20px;
}

.header__nav {
    display: flex;
}

.nav__item {
    display: inline;
    margin: 0 10px;
}

.button {
    padding: 10px 20px;
}

// --------------------
/* #THEME */
// --------------------

.button--white {
    border-radius: 16px;
    border: 2px solid #000;
}

// --------------------
/* #UTILITIES */
// --------------------

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
